/* ========================================
   FONTS
   ======================================== */

@font-face {
    font-family: 'Flura';
    src: url('../fonts/Flura-Regular.woff2') format('woff2'),
         url('../fonts/Flura-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}